*.class
*.log
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

.idea
.gradle
*.iml
*.pem
*.out
*.db
*.lck
*.script
*.properties
!/src/main/resources/config.properties
build
node_modules
npm-debug.log
logs/
out/
/src/main/resources/templates/
/src/main/resources/static/
package-lock.json
lombok.config
.DS_Store
*.jar
!/gradle/wrapper/gradle-wrapper.jar