*.log
*.iml
*.pem
*.jar
*.properties

.idea
.gradle
node_modules
logs/
out/
dev_db/
src/main/resources/static/

package-lock.json
lombok.config
!/src/main/resources/config.properties
!/gradle/wrapper/gradle-wrapper.jar