*.log
*.iml
*.pem
*.db
*.jar
*.properties

.idea
.gradle
node_modules
logs/
out/
/src/main/resources/static/

package-lock.json
lombok.config
!/src/main/resources/config.properties
!/gradle/wrapper/gradle-wrapper.jar