.bot-settings-container .p-float-label {
  margin-top: 18px;
}

.bot-settings-container .bot-settings-container_form-buttons {
  margin-top: 18px;
}

.bot-settings-container .bot-settings-container_form-buttons .p-button:first-child {
  margin-right: 6px;
}
