.form .form_button-panel .p-button:first-child {
  margin-right: 12px;
}

.form .form_detail-element {
  margin-bottom: 25px;
}

.form .form_detail-element .full-width {
  width: 100% !important;
}

.form .form_detail-element .element-label {
  margin-bottom: 3px;
}

.button-panel .button-elem {
  margin: 10px;
}