.constructor-page .constructor-container .container-group-element {
  margin: 5px;
}

.constructor-page .constructor-container .p-fieldset {
  margin-bottom: 10px;
}

.constructor-page .constructor-container .button-list-elem {
  margin-bottom: 10px;
}