.vote-refresh-button {
  margin-bottom: 10px !important;
}

.vote-table-cell .vote-table-cell_text {
  word-break: break-word;
}

.vote-table-cell .vote-table-cell_attach {
  margin-bottom: 3px;
}

.vote-table-cell .vote-table-cell_attach-title {
  margin-bottom: 5px;
}